@import "../colour.css";
@import url("https://fonts.googleapis.com/css2?family=Actor&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.follow-btnn {
  /* margin-left: 70px; */
  background-color: #6e64dc;
  color: var(--septenary);
  border: 2px solid var(--senary);
  width: 150px;
  height: 35px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;


  &:hover {
    transition: all .7s ease;
    background-color: transparent;
    color: var(--septenary);
  }
}

.unfollow-btnn{
  /* margin-left: 70px; */
  background-color: transparent;
  color: var(--senary);
  border: 2px solid var(--senary);
  width: 150px;
  height: 35px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}