:root {
    --primary: #02010A;
    --secondary: #04052E;
    --tertiary: #140152;
    --quaternary: #22007C;
    --quinary: #0D00A4;
    --senary: #675CE7;
    --septenary: #f0f0f0;
    --octonary: #22007C;
}